@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}

@mixin img-style($height, $width) {
  height: $height;
  width: $width;
}

@mixin text-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}
/*nav*/
.nav-outline {
  outline: none !important;
}

.nav-item {
  border-bottom: 3px solid;
  border-color: transparent;

  &:hover {
    border-bottom: 3px solid;
    border-image: linear-gradient(
      to right,
      rgba(111, 119, 241, 1),
      rgba(111, 119, 241, 1) 70%,
      white 70%,
      white 80%,
      rgba(111, 119, 241, 1) 80%,
      rgba(111, 119, 241, 1)
    );
    border-image-slice: 1;
    cursor: pointer;
  }
}
.letstalk::placeholder {
  color: black;
}

/*hero*/

.hero-img {
  @include img-style(auto, 60vw);
}

.man-1 {
  margin-top: 4%;
}
.man-2,
.man-3,
.man-4,
.add {
  margin-left: -11%;
}

#diamonds {
  background-image: url(images/Group-box.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.team-icon:hover {
  border: 3px solid #6f77f1;
  cursor: pointer;
}

.team-shadow:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.5);
  cursor: pointer;
}

.website-text {
  width: 90% !important;
  text-align: center;
}

.web-list {
  &:hover {
    border-bottom: 4px solid #6f77f1;
  }
}

.grey-background {
  background-color: #f2f2f2;
}

#one {
  background-image: url("images/optimizing-website/1.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

#two {
  background-image: url("images/optimizing-website/2.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

#three {
  background-image: url("images/optimizing-website/3.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: white;
}

#four {
  background-image: url("images/optimizing-website/4.svg");
  background-repeat: no-repeat;
  background-position: top center;

  background-color: white;
}

.grey-text {
  color: #828282;
}

.blue-text {
  color: #6f77f1;
}

.card-text {
  @include text-style(13px, 400);
}

.card-group-v1 {
  box-shadow: 0px 17px 33px -14px rgba(2, 22, 5, 0.07);
}

.margin-class {
  margin-top: 150px !important;
}

.grey-font {
  @include text-style(13px, 400);
}

.solution-img {
  @include img-style(35vh, 70vw);
}

.stats-item {
  cursor: pointer;
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

.client-main::-webkit-scrollbar {
  display: none;
}

.client-card {
  background-image: url(images/clients/colen.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

.solutions {
  background-color: #fafafa;
}

.reason-item {
  &:hover {
    box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.9);
    cursor: pointer;
  }
}

.reasons {
  background-color: #fafafa;
}

.seo-item {
  &:hover {
    box-shadow: 5px 25px 37px 0px rgba(2, 22, 5, 0.06);
    cursor: pointer;
  }
}

.web-speed-img {
  @include img-style(auto, 75vw);
}

.web-speed-input {
  outline: none !important;
}

.plans-item {
  background-color: white;
  h5 {
    color: #6f77f1;
  }
  .card-body {
    color: #828282;
  }
  a {
    border: 1px solid black;
  }
  &:hover {
    cursor: pointer;
    background-image: url("images/plans/blue-bg.svg");
    @include img-style(auto, 18rem);
    background-position: center;
    h5 {
      color: white !important;
    }
    .card-body {
      color: white;
      a {
        border: 1px solid white;
        color: white;
        &:hover {
          background-color: #fad725;
          border: 0px solid black;
          color: black;
        }
      }
    }
  }
}

.team-img {
  @include img-style(auto, 34%);
  margin-left: auto;
  margin-right: auto;
}

.bottom-btn {
  background-color: #6f77f1 !important;
}

.what-seo-img {
  @include img-style(auto, 90%);
}
.bottom-input {
  outline: none;
}

@media (min-width: 768px) {
  .reasons-item {
    width: 55%;
  }

  .hero-img {
    @include img-style(auto, 34vw);
  }

  .hero-details {
    font-size: 16.5px !important;
  }

  .web-speed-img {
    @include img-style(auto, 35vw);
  }

  .solution-text {
    width: 75%;
  }
}

@media (min-width: 997px) {
  .hero-heading {
    font-size: 2.8rem;
    width: 76%;
  }
  .website-text {
    width: 50% !important;
    text-align: start;
  }

  .what-seo-img {
    @include img-style(auto, 50%);
  }

  .what-seo-text {
    @include img-style(auto, 40%);
    margin: 0%;
  }

  .what-seo-text {
    margin: 10%;
  }

  .team {
    width: 70% !important;
  }

  .form-inputs {
    width: 70% !important;
  }
}

@media (min-width: 1400px) {
  .team {
    width: 100% !important;
  }
  .hero-team {
    width: 19%;
    background-color: transparent;
    box-shadow: 0px 3.17px 52.298px 0px rgba(0, 0, 0, 0.1);
    top: 69%;
    right: 34%;
  }
}
