@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}

/*nav*/
.nav-outline {
  outline: none !important;
}

.nav-item {
  border-bottom: 3px solid;
  border-color: transparent;
}
.nav-item:hover {
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, rgb(111, 119, 241), rgb(111, 119, 241) 70%, white 70%, white 80%, rgb(111, 119, 241) 80%, rgb(111, 119, 241));
     border-image: linear-gradient(to right, rgb(111, 119, 241), rgb(111, 119, 241) 70%, white 70%, white 80%, rgb(111, 119, 241) 80%, rgb(111, 119, 241));
  border-image-slice: 1;
  cursor: pointer;
}

.letstalk::-moz-placeholder {
  color: black;
}

.letstalk::placeholder {
  color: black;
}

/*hero*/
.hero-img {
  height: auto;
  width: 60vw;
}

.man-1 {
  margin-top: 4%;
}

.man-2,
.man-3,
.man-4,
.add {
  margin-left: -11%;
}

#diamonds {
  background-image: url(images/Group-box.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.team-icon:hover {
  border: 3px solid #6f77f1;
  cursor: pointer;
}

.team-shadow:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.5);
  cursor: pointer;
}

.website-text {
  width: 90% !important;
  text-align: center;
}

.web-list:hover {
  border-bottom: 4px solid #6f77f1;
}

.grey-background {
  background-color: #f2f2f2;
}

#one {
  background-image: url("images/optimizing-website/1.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

#two {
  background-image: url("images/optimizing-website/2.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

#three {
  background-image: url("images/optimizing-website/3.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: white;
}

#four {
  background-image: url("images/optimizing-website/4.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: white;
}

.grey-text {
  color: #828282;
}

.blue-text {
  color: #6f77f1;
}

.card-text {
  font-size: 13px;
  font-weight: 400;
}

.card-group-v1 {
  box-shadow: 0px 17px 33px -14px rgba(2, 22, 5, 0.07);
}

.margin-class {
  margin-top: 150px !important;
}

.grey-font {
  font-size: 13px;
  font-weight: 400;
}

.solution-img {
  height: 35vh;
  width: 70vw;
}

.stats-item {
  cursor: pointer;
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

.client-main::-webkit-scrollbar {
  display: none;
}

.client-card {
  background-image: url(images/clients/colen.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

.solutions {
  background-color: #fafafa;
}

.reason-item:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.9);
  cursor: pointer;
}

.reasons {
  background-color: #fafafa;
}

.seo-item:hover {
  box-shadow: 5px 25px 37px 0px rgba(2, 22, 5, 0.06);
  cursor: pointer;
}

.web-speed-img {
  height: auto;
  width: 75vw;
}

.web-speed-input {
  outline: none !important;
}

.plans-item {
  background-color: white;
}
.plans-item h5 {
  color: #6f77f1;
}
.plans-item .card-body {
  color: #828282;
}
.plans-item a {
  border: 1px solid black;
}
.plans-item:hover {
  cursor: pointer;
  background-image: url("images/plans/blue-bg.svg");
  height: auto;
  width: 18rem;
  background-position: center;
}
.plans-item:hover h5 {
  color: white !important;
}
.plans-item:hover .card-body {
  color: white;
}
.plans-item:hover .card-body a {
  border: 1px solid white;
  color: white;
}
.plans-item:hover .card-body a:hover {
  background-color: #fad725;
  border: 0px solid black;
  color: black;
}

.team-img {
  height: auto;
  width: 34%;
  margin-left: auto;
  margin-right: auto;
}

.bottom-btn {
  background-color: #6f77f1 !important;
}

.what-seo-img {
  height: auto;
  width: 90%;
}

.bottom-input {
  outline: none;
}

@media (min-width: 768px) {
  .reasons-item {
    width: 55%;
  }
  .hero-img {
    height: auto;
    width: 34vw;
  }
  .hero-details {
    font-size: 16.5px !important;
  }
  .web-speed-img {
    height: auto;
    width: 35vw;
  }
  .solution-text {
    width: 75%;
  }
}
@media (min-width: 997px) {
  .hero-heading {
    font-size: 2.8rem;
    width: 76%;
  }
  .website-text {
    width: 50% !important;
    text-align: start;
  }
  .what-seo-img {
    height: auto;
    width: 50%;
  }
  .what-seo-text {
    height: auto;
    width: 40%;
    margin: 0%;
  }
  .what-seo-text {
    margin: 10%;
  }
  .team {
    width: 70% !important;
  }
  .form-inputs {
    width: 70% !important;
  }
}
@media (min-width: 1400px) {
  .team {
    width: 100% !important;
  }
  .hero-team {
    width: 19%;
    background-color: transparent;
    box-shadow: 0px 3.17px 52.298px 0px rgba(0, 0, 0, 0.1);
    top: 69%;
    right: 34%;
  }
}/*# sourceMappingURL=style.css.map */